* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: #091921;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body::before {
    content: '';
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#e91e63,#ffc107);
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(42% at 0% 20%);
}

body::after {
    content: '';
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#e8e8e8,#da00ff);
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: circle(40% at 100% 80%);
}

.app {
    z-index: 10;
    display: grid;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1.25rem);
    border-radius: 2rem;
    width: 25vw;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-template-areas: 
        '1 1 1 1'
        '1 1 1 1'
        '1 1 1 1'
        '2 2 2 2'
        '3 3 3 4'
        '3 3 3 4'
        '3 3 3 4'
        '3 3 3 4';
    overflow: hidden;
    transition: all 0.5s;
}

div div:not(.output) {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

div div span {
    background: transparent;
    height: 100%;
    width: 100%;
    color: #e8e8e8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.1rem;
    padding: 1.0275rem 0.34rem;
}

.numkey:hover {
    background: rgba(255, 255, 255, 0.05);
}

.binarykey:hover, #percentage:hover, #pi:hover {
    background: #00308F;;
}

#clear:hover {
    background: #ee204d;
}

#del:hover {
    background: #D49B54;
}

#del img {
    width: 45%;
    height: 45%;
    filter: invert(1)
}

#result:hover {
    background: #76BA1B;
}

.output {
    grid-area: 1;
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
    position: relative;
}

.b1 {
    grid-area: 2;
    grid-column: 1 / span 4;
    grid-row: 4;
    grid-template-columns: repeat(4,1fr);
}

.keypad {
    grid-area: 3;
    grid-column: 1 / span 3;
    grid-row: 5 / span 4;
    grid-template-columns: repeat(3,1fr);
}

.b2 {
    grid-area: 4;
    grid-column: 4;
    grid-row: 5 / span 4;
    grid-template-rows: repeat(4,1fr);
}

.screen {
    font-size: 2rem;
    color: #e8e8e8;
    text-align: right;
    cursor: default;
    position: absolute;
    height: 2.8rem;
    width: auto;
    bottom: 5%;
    right: 5%;
}